

@media only screen and (orientation: portrait) {
  	html{
		background-image:			url("../Media/blokje.svg");
		background-size: 10%;
	}
}
@media only screen and (orientation: landscape) {
  	html{
		background-image:			url("../Media/blokje.svg");
		background-size: 2%;
	}
}



body {
	font-family:				sans-serif;
	margin-left:				auto;
	margin-right:				auto;
	max-width:					80%;
	padding-bottom:				24px;
	padding-left:				24px;
	padding-right:				24px;
	border:						2px solid #1A1D22;
	border-radius:				5px;
	background-color:			#1A1D22;
    color:						#E6E6E6;
}

footer {
	font-size:					70%;
}

nav table {
	font-family:				sans-serif;
	font-weight:				bold;
	padding:					1em;
	background-color:			#E6E6E6;
	width:						100%;
	margin:						0 auto;
	border-collapse: 			collapse;
    border-style: 				hidden;
}

nav td {
	text-align:					center;
	vertical-align: 			middle;
	border:						2px solid #1A1D22;
	padding: 					20px;
}




nav a{
	color:						#1A1D22;
	text-decoration:			none;
}

nav a:hover{
	color:						#E6E6E6; 
	background-color:			#1A1D22;
}

h1 {
	color:						#D9141B
}

h1.titel{
	font-size:					200%;
}



a:hover{
	color:						#1A1D22;
	background-color:			#81afff;
}

a{
	color:						#81afff;
}

table{
	width:						100%;
	color:						#E6E6E6;
    table-layout:				fixed;
}

th{
	text-align:					left;

}

table,tr{
    padding-bottom:				30px;
}

td{
	vertical-align: 			top;
}

.blog{
	background-color: 			#E6E6E6;
	color:						#1A1D22;
	padding:					1%;
}

a.bloglink{
	color:						#00348f;
}

a.bloglink:hover{
	color:						#E6E6E6;
	background-color:			#00348f;
}



h4.blog{
	font-size:					60%;
	text-align: 				right;
	padding-right:				10%;
	color:						#1A1D22;
}

img.plaatjes{
	max-height:					500px;
	max-width:					90%;
	padding:					2px;
	align-content:				top;
}

.hide {
  display: 						none;
}

.myDIV:hover + .hide {
  display: 						block;
}

img.bandleden{
	width:						100%;
}

td.bandleden{
	padding:					1%
}