@media only screen and (orientation: portrait) {
  	html{
		background-image:		url("../Media/blokje.svg");
		background-size: 		10%;
	}
}
@media only screen and (orientation: landscape) {
  	html{
		background-image:		url("../Media/blokje.svg");
		background-size: 		2%;
	}

  	html:has(footer:hover){
		background-image:		url("../Media/blokje2.svg");
		background-size: 		2%;
	}
}


body{
    font-family:				sans-serif;
    display: flex;
    background-color: white;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 5px;
}

.SingleParent{
    width: 100%;
    display:					flex;
	gap: 						50px;
	justify-content: 			space-evenly;
	align-content: 				space-evenly;
	flex-wrap: 					wrap;
}

.Videoclip{
    width: 100%;
    height:350px;
}

.SingleChild{
    max-width: 500px
}

a{
	color:						#00058f;
}

a:hover{
	color:						#E6E6E6;
	background-color:			#00058f;
}


footer {
	font-size:					70%;
}




.NaarHome a{
	display: 					block;
	color: 						#1A1D22;
	padding: 					1em;
	text-decoration: 			underline;
}

.NaarHome a:hover {
	background-color: 			#1A1D22;
	color: 						white;
} 